* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Red Hat Display;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(225, 100%, 94%);
  font-size: 16px;
  background-image: url(../images/pattern-background-desktop.svg);
  background-size: 100% 50%;
  background-repeat: no-repeat;
}

.main__container {
  max-width: 450px;
  height: 697px;
  background-image: url(../images/illustration-hero.svg);
  background-repeat: no-repeat;
  background-size: 100% 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 20px;
}

.main__container-second {
  margin-top: 180px;
  width: 75%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title__text {
  text-align: center;
  margin: 20px;
  font-size: 20px;
  font-weight: 900;
  line-height: 37px;
}

.article__text {
  text-align: center;
  color: gray;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.plan__container {
  display: flex;
  align-items: center;
  background-color: hsl(225, 100%, 98%);
  justify-content: space-around;
  height: 100px;
  border-radius: 10px;
}

.price__container {
  display: flex;
  margin-right: 20px;
  align-items: center;
}

.change__container {
  font-size: 14px;
}

.change__container > a {
  color: hsl(245, 75%, 52%);
  font-weight: 700;
}

.change__text:hover {
  text-decoration: none;
  cursor: pointer;
  color: hsl(245, 75%, 52% 0.5);
  filter: brightness(2);
}

.music__img {
  margin-right: 20px;
}

.plan__text {
  margin-bottom: 8px;
  font-weight: 900;
}

.price__text {
  color: gray;
}

.btn {
  width: 354;
  height: 50px;
  background-color: hsl(245, 75%, 52%);
  color: white;
  font-size: 14px;
  font-weight: 700;
  font-family: "Red Hat Display";
  border: none;
  border-radius: 10px;
  box-shadow: 0px 10px 100px gray;
}

.btn:hover {
  cursor: pointer;
  filter: brightness(2);
}

.cancel__container {
  text-align: center;
  font-size: 14px;
  font-weight: 900;
  color: gray;
}

.cancel__container:hover {
  color: black;
  cursor: pointer;
}
