* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Red Hat Display;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(225, 100%, 94%);
  font-size: 16px;
}

.main__container {
  max-width: 430px;
  height: 670px;
  background-image: url(../images/illustration-hero.svg);
  background-repeat: no-repeat;
  background-size: 100% 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 15px;
}

.main__container-second {
  margin-top: 180px;
  width: 75%;
  border: 1px solid black;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article__container {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title__text {
  text-align: center;
  margin: 20px;
}

.article__text {
  text-align: center;
  color: gray;
}

.plan__container {
  display: flex;
  align-items: center;
  background-color: hsl(225, 100%, 98%);
  justify-content: space-around;
  height: 100px;
}

.price__container {
  display: flex;
  margin-right: 20px;
  border: 1px solid black;
  align-items: center;
}

.change__container {
  border: 1px solid black;
  font-size: 14px;
}

.change__container>a {
  color: hsl(245, 75%, 52%);
}

.music__img {
  margin-right: 20px;
}

.plan__text {
  margin-bottom: 8px;
  font-weight: 900;
}

.price__text {
  color: gray
}

.btn {
  weight: 50px;
}